@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4; /* Cor de fundo geral */
  color: #333;
}

.container {
  width: 85%;
  margin: 0 auto;
}

/* Estilo do cabeçalho */
header {
  background-color: #89be5d; /* Verde sólido como o rodapé */
  color: white;
  padding: 20px 0;
  position: relative; /* Fixar o cabeçalho no topo */
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease; /* Transição suave para cor de fundo */
}

.header-scrolled {
  background-color: #002200; /* Verde um pouco mais escuro quando rolar */
}

.logo {
  flex: 1; /* Logo ocupa espaço à esquerda */
}

.logo h1 {
  margin: 0;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  color: #e6f9e6; /* Verde claro para o texto do logo */
}

nav {
  display: flex;
  align-items: center;
  position: relative; /* Adicionar para o menu lateral aparecer abaixo do botão */
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-left: auto;
}

.nav-links li {
  font-size: 18px;
  margin-top: -0%;
}

.nav-links a {
  color: #e6f9e6; /* Verde claro para o texto dos links */
  text-decoration: none;
  padding: 8px 12px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 4px;
}

.nav-links a:hover {
  background-color: #007a00; /* Verde médio para o fundo ao passar o mouse */
  color: #e6f9e6; /* Verde claro para o texto ao passar o mouse */
}

.hamburger {
  font-family: 'Roboto', sans-serif;
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  position: relative;
  z-index: 1001; /* Garantir que o botão do hambúrguer esteja acima do menu */
}

/* Estilo do menu lateral para dispositivos móveis */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Ajuste para ficar logo abaixo do botão do hambúrguer */
    left: 10px; /* Posiciona o menu lateral à esquerda do botão do hambúrguer */
    width: 250px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: #89be5d; /* Manter a cor do fundo do menu lateral */
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .nav-active {
    display: flex;
    opacity: 1;
    transform: translateY(0);
  }

  .hamburger {
    display: block;
  }

  .logo {
    flex: none; /* Não permitir que o logo ocupe espaço extra */
  }
}

/* Estilo do carrossel */
.carousel {
  position: relative;
  width: 100%;
  max-width: 1000px; /* Aumentar o tamanho máximo do carrossel */
  margin: 0 auto;
  overflow: hidden; /* Ocultar parte da imagem que está fora da área visível */
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel img {
  width: 100%;
  height: auto;
  transition: opacity 0.5s ease-in-out;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 12px; /* Ajustar o padding para o tamanho dos botões */
  cursor: pointer;
  border-radius: 50%;
  font-size: 28px; /* Aumentar o tamanho da fonte dos botões */
  z-index: 10;
  transition: background-color 0.3s ease;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev {
  left: 15px;
}

.next {
  right: 15px;
}

.projetos {
  padding: 50px 0;
  background-color: #f8f9fa;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.projeto-texto {
  flex: 1;
  padding: 20px;
}

.projeto-texto h2 {
  font-family: 'Raleway', sans-serif; /* Alterar para uma fonte diferente */
  font-size: 40px; /* Aumentar o tamanho da fonte */
  color: #333;
  margin-bottom: 15px;
  text-transform: uppercase; /* Texto em maiúsculas */
  letter-spacing: 1px;
  font-weight: 700; /* Aumentar o peso da fonte para mais impacto */
}

.projeto-texto p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #555;
  line-height: 1.8;
  margin-bottom: 20px;
}

.projeto-texto ul {
  margin-top: 10px;
  padding-left: 20px;
  font-size: 16px;
  list-style: disc;
}

.projeto-texto li {
  margin-bottom: 10px;
}

.projeto-imagem {
  flex: 1;
  text-align: center;
  position: relative;
  overflow: hidden; /* Ocultar parte da imagem ao aumentar */
}

.projeto-imagem img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease; /* Transição suave para o efeito de zoom */
}

.projeto-imagem img:hover {
  transform: scale(1.1); /* Zoom ao passar o mouse */
}

/* Responsividade */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .projeto-texto, .projeto-imagem {
    padding: 10px;
    text-align: center;
  }
}

/* Estilo da nova seção */
.grupo-atakarejo {
  padding: 10px 0;
  background-color: #f8f9fa;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.grupo-texto {
  flex: 1;
  padding: 20px;
}

.grupo-texto h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  color: #333;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.grupo-texto p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #555;
  line-height: 1.8;
  margin-bottom: 20px;
}

.grupo-texto ul {
  margin-top: 10px;
  padding-left: 20px;
  font-size: 16px;
  list-style: disc;
}

.grupo-texto li {
  margin-bottom: 10px;
}

.grupo-imagem {
  flex: 1;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.grupo-imagem img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease;
}

.grupo-imagem img:hover {
  transform: scale(1.1);
}

/* Responsividade */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .grupo-texto, .grupo-imagem {
    padding: 10px;
    text-align: center;
  }

  .grupo-texto {
    order: 1; /* Texto vem primeiro */
  }

  .grupo-imagem {
    order: 2; /* Imagem vem depois do texto */
  }
}

footer {
  background-color: #89be5d; /* Verde sólido como o rodapé */
  color: #000000;
  padding: 40px 20px;
  font-family: 'Roboto', sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-info,
.footer-links,
.footer-contact {
  flex: 1;
  margin: 10px;
  min-width: 250px;
}

.footer-info h4,
.footer-links h4,
.footer-contact h4 {
  font-size: 1.4em;
  margin-bottom: 15px;
  color: #000000;
}

.footer-info p,
.footer-contact p {
  font-size: 0.9em;
  line-height: 1.6;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 12px;
}

.footer-links ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 1em;
  transition: color 0.3s ease;
}

.footer-links ul li a:hover {
  color: #489455;
}

.social-media {
  display: flex;
  gap: 15px;
}

.social-media a {
  color: #000000;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

.social-media a:hover {
  color: #337a45;
}

.footer-bottom {
  text-align: center;
  padding: 15px 0;
  border-top: 1px solid #333;
  background-color: #111;
  color: #999;
  font-size: 0.8em;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-info,
  .footer-links,
  .footer-contact {
    margin: 0;
    margin-bottom: 20px;
  }

  .social-media {
    flex-direction: column;
  }

  .social-media a {
    margin-bottom: 10px;
  }
}
