
/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4; /* Cor de fundo geral */
  color: #333;
}

.container {
  width: 85%;
  margin: 0 auto;
}

/* Estilo do cabeçalho */
header {
  background-color: #89be5d; /* Verde sólido como o rodapé */
  color: white;
  padding: 20px 0;
  position: relative; /* Fixar o cabeçalho no topo */
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease; /* Transição suave para cor de fundo */
}


.logo h1 {
  margin: 0;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  color: #e6f9e6; /* Verde claro para o texto do logo */
}

nav {
  display: flex;
  align-items: center;
  position: relative; /* Adicionar para o menu lateral aparecer abaixo do botão */
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-left: auto;
}

.nav-links li {
  font-size: 18px;
  margin-top: -10%;
}

.nav-links a {
  color: #e6f9e6; /* Verde claro para o texto dos links */
  text-decoration: none;
  padding: 8px 12px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 4px;
}

.nav-links a:hover {
  background-color: #007a00; /* Verde médio para o fundo ao passar o mouse */
  color: #e6f9e6; /* Verde claro para o texto ao passar o mouse */
}

.hamburger {
  font-family: 'Roboto', sans-serif;
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  position: relative;
  z-index: 1001; /* Garantir que o botão do hambúrguer esteja acima do menu */
}

/* Estilo do menu lateral para dispositivos móveis */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Ajuste para ficar logo abaixo do botão do hambúrguer */
    left: 10px; /* Posiciona o menu lateral à esquerda do botão do hambúrguer */
    width: 250px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: #89be5d; /* Manter a cor do fundo do menu lateral */
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .nav-active {
    display: flex;
    opacity: 1;
    transform: translateY(0);
  }

  .hamburger {
    display: block;
  }
}
/* Seções principais */
main {
  padding: 40px 0;
  margin-top: 80px; /* Adiciona espaço suficiente no topo para o cabeçalho fixo */
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-content {
  width: 50%;
}

.section-content h2 {
  font-size: 32px;
  color: #89be5d;
  margin-bottom: 15px;
}

.section-content p {
  font-size: 18px;
  color: #555;
}

.section img {
  width: 50%;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.section img:hover {
  transform: scale(1.05);
}

/* Estilo de seções alternadas para mais dinamismo */
.section:nth-child(even) {
  flex-direction: row-reverse;
}

/* Espaçamento adicional para a imagem da TV Corporativa */
.tv-corporativa img {
  margin: 20px 0; /* Espaço em cima e embaixo da imagem */
}

/* Responsividade */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    flex: none;
  }

  .section {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .section-content {
    width: 100%;
  }

  .section img {
    width: 80%;
    margin-top: 20px;
  }

  .tv-corporativa .section-content {
    text-align: center;
  }

  .tv-corporativa img {
    margin: 20px 0;
  }
}

footer {
  background-color: #89be5d; /* Verde sólido como o rodapé */
  color: #000000;
  padding: 40px 20px;
  font-family: 'Roboto', sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-info,
.footer-links,
.footer-contact {
  flex: 1;
  margin: 10px;
  min-width: 250px;
}

.footer-info h4,
.footer-links h4,
.footer-contact h4 {
  font-size: 1.4em;
  margin-bottom: 15px;
  color: #000000;
}

.footer-info p,
.footer-contact p {
  font-size: 0.9em;
  line-height: 1.6;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 12px;
}

.footer-links ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 1em;
  transition: color 0.3s ease;
}

.footer-links ul li a:hover {
  color: #489455;
}

.social-media {
  display: flex;
  gap: 15px;
}

.social-media a {
  color: #000000;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

.social-media a:hover {
  color: #337a45;
}

.footer-bottom {
  text-align: center;
  padding: 15px 0;
  border-top: 1px solid #333;
  background-color: #111;
  color: #999;
  font-size: 0.8em;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-info,
  .footer-links,
  .footer-contact {
    margin: 0;
    margin-bottom: 20px;
  }

  .social-media {
    flex-direction: column;
  }

  .social-media a {
    margin-bottom: 10px;
  }
}
